/*
This combo reset is composed of multiple sources:
1. Josh's Custom CSS Reset         @ https://www.joshwcomeau.com/css/custom-css-reset/
2. Elad Shechter's "New CSS Reset" @ https://elad2412.github.io/the-new-css-reset/
3. Mike Mai's reset                @ https://mikemai.net/blog/2024/11/01/you-are-not-a-css-dev-if-you-have-not-made-a-css-reset.html
4. Chris Coyier Starter kit        @ https://frontendmasters.com/blog/the-coyier-css-starter/
5. Mayank's take                   @ https://github.com/mayank99/reset.css
6. Dan Cătălin Burzo "reset.css"   @ https://danburzo.ro/snippets/css-reset/
*/

/* Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* Enable keyword animations and allow smooth scroll */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
    scroll-behavior: smooth;
  }
}

/* Set global color scheme, tab width, and stable scrollbar space */
html {
  color-scheme: light dark;
  tab-size: 2;
  scrollbar-gutter: stable;
  /* Disable font size inflation on mobile. */
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  font-synthesis: none;
  /* Add accessible line-height */
  line-height: 1.5;
  /* Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
  letter-spacing: inherit;
  color: currentColor;
}

/* Show pointer on clickable controls and their labels */
input:is([type="checkbox"], [type="radio"]),
select,
label,
button,
summary {
  cursor: pointer;
}

/* Show not-allowed cursor on disabled elements and labels */
:disabled,
label:has(> :disabled, + :disabled) {
  cursor: not-allowed;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* Normalizing anchor elements */
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}
th,
td {
  text-align: start;
  vertical-align: top;
}

/*
      Create a root stacking context
    */
#root,
#__next {
  isolation: isolate;
}

